@import "tailwindcss";
@source "../node_modules/flowbite-svelte/dist";

* {
  font-family: 'DM Sans', sans-serif;
}

@theme {
  /* Ocean Depths variables */
  --color-primary: #1D4ED8;        /* vivid medium blue */
  --color-primary-dark: #1A44C2;   /* slightly darker for hover/shadows */
  --color-accent: #32C5FF;         /* cyan accent */
  --color-card-bg: #2A2F3C;        /* greyer, desaturated surface */
  --color-background: #0C0F14;     /* nearly black charcoal background */
  --color-text-light: #E8EAF6;     /* off-white text */
}
